<ion-content fullscreen class="ion-padding">

  <div class="container top" [hidden]="keyboard.isVisible">
    <img src="/assets/img/logo.png">
  <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
    <ion-segment-button mode="ios" value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="register">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>
  </div>  

  <ion-slides>
  <ion-slide>
    <div class="slide-inner ion-padding">
      <span>Login</span>
      <form [formGroup]="loginForm">

      <ion-item class="ion-margin-top" lines="none">
        <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-input formControlName="password" type="password" placeholder="password" ></ion-input>
      </ion-item>

      <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
        Entrar
      </ion-button>
    </form>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide-inner ion-padding">
      <span>Register</span>
      <form [formGroup]="registerForm">

      <ion-item class="ion-margin-top" lines="none">
        <ion-input formControlName="name" type="text" placeholder="name"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-input formControlName="password" type="password" placeholder="password" ></ion-input>
      </ion-item>

      <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
        Entrar
      </ion-button>
    </form>
    </div>
  </ion-slide>

</ion-slides>

 
<div class="ocean">
  <div class="waves" ></div>

  <div class="container bottom ion-text-center" >
    <span>O aplicativo que foi feito para o gerenciamento dos produtos da sua loja de surf!</span>
  </div>
</div>
</ion-content>
